@import "tailwindcss";

@theme {
  --color-cit-turquesa: #01a696;
  --color-cit-petroleo: #0185a7;
  --color-cit-azul-fuerte: #0265bb;
  --color-cit-azul-oscuro: #004ac8;

  --font-sans: "Segoe UI", system-ui, -apple-system, sans-serif;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@layer base {
  body {
    @apply bg-white text-gray-900 antialiased;
  }
}
